/Assignment_2/dscd_a2

# All the __pycache__ files are to be ignored from git
__pycache__/
# 

/Assignment_2/raftNode/__pycache__
/Assignment_2/raftClient/__pycache__
/Assignment_2/__pycache__


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.pyo

__pycache__
dscd_a3


Assignment_3/master_dump.txt
Assignment_3/Data/Mappers
Assignment_3/Data/Reducers
Assignment_3/Data/centroids.txt